.DS_Store

server/.classpath
server/.project
server/.settings/
server/eclipse/

applet/.classpath
applet/.project
applet/.settings/
applet/eclipse/
applet/.externalToolBuilders
applet/bin
server/db
/AppletTransat/dist/
AppletTransat/build/
AppletTransat/build/classes/
server/logs/
server/test-result/
server/tmp/
server/hs_err_pid3647.log
server/hs_err_pid4188.log